<div class="roll-result">
  <p class="roll-formula">{{roll.formula}}</p>

  <div class="dice-results">
    {{#each roll.terms as |term|}}
      {{#each term.results as |result|}}
        <div class="dice-result dice-{{term.faces}}">
          <span class="dice-number {{result.class}}">{{result.value}}</span>
        </div>
      {{/each}}
    {{/each}}
  </div>

  {{#if roll.total}}
    <p class="roll-total">{{roll.total}}</p>
  {{/if}}
</div>
